body {
  background-color: #1d1d1d;
  color: #f0f0f0;
  font-family: Acumin-Pro, sans-serif;
  font-style: normal;
  margin: 24px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 24px;
}

h1 {
  margin: 0px;
  font-weight: 400;
  line-height: 100%;
  padding-bottom: 8px;
}

p {
  font-weight: 100;
  line-height: 100%;
  margin: 0px;
}

video {
  width: 100%;
  border: 3px solid #f0f0f0;
  border-radius: 8px;
}

#container {
  display: flex;
  flex-direction: horizontal;
}

#observer {
  width: 50%;
}

#buttons {
  margin-bottom: 24;
}

#projector {
  width: 40%;
  margin-left: 24px;
}

#projectorContent {
  margin-left: 52px;
  margin-top: 32px;
  padding: 0px;
  font-weight: 100;
  font-size: 24px;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 2px;
}

#borders {
  width: 100%;
  bottom: 24px;
  border: 2px solid #f0f0f0;
}

#borderTop {
  position: absolute;
  top: 64;
  right: 24;
}

#borderBottom {
  position: absolute;
  bottom: 80;
}

button {
  background-color: #1d1d1d;
  border: 3px solid #f0f0f0;
  border-radius: 16px;
  padding: 6px 16px;
  color: #f0f0f0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #2f2f2f;
  border: 3px solid #f0f0f0;
}

#copyButton {
  position: absolute;
  right: 160;
  bottom: 160;
}
